// box{ @include radius(10px);}
/*hello*/

// $backgroundMain: url(../img/background.png) ;
$font_contact_VK_Facebook: bold 18px Comic Sans;
$color_text_White: #ffffff;



.main-wrapper{
	background: #ffffff;
    background-size: 100% 100%;
    background-attachment: fixed; 
    // position:fixed;
	width: 100%;
	min-height: 900px;
    overflow: hidden;
    z-index: -2;
}

.header, .content, .footer, .media{
	// margin: 3% 0 0 10%;
}
.header, .content, .footer{
	// margin: 3% 0 0 0;
}


@mixin textContent{
    h1{
        font: bold 18px $fontRobotoCondensed;
        text-transform: uppercase;
    }
    p{
        font: 18px $fontRobotoCondensed;
    }
}



@mixin imgColorToGreyAnim{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */

  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

@mixin imgGreyToColorAnim{
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    filter: none; /* IE 6-9 */

      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
}

