
@import "kriger/main";

$border_Test: 1px solid white;

.footer{
	position: relative;

	background: #5bd077;
	background: -moz-radial-gradient(0deg, ellipse cover, #5bd077, #4e84bf);
	background: -webkit-linear-gradient(0deg, #5bd077, #4e84bf);
	background: -o-linear-gradient(0deg, #5bd077, #4e84bf);
	background: -ms-linear-gradient(0deg, #5bd077, #4e84bf);

	color:#ffffff;
	
	.footerMenu, .footerAutor{
		margin-bottom:0;
		padding-bottom:0;
		bottom:0;
		vertical-align:middle;
		padding-left:10px;
	}

	.footerMenu{
		ul{
			margin:10px 0;
			padding-left:15px;
			li{
				display:inline;
				margin-right:28px;
			}

			li, li a{
				font: 16px $font_ptSans;
				color:#ffffff;
				text-decoration:none;
			}
			li a:hover{
				text-decoration:underline;
			}
		}
	}

	.footerAutor{
		padding-top:10px;
		padding-bottom:10px;
		.nameFoot, .logoFoot{
			margin-left: 15px;
			margin-right:20px;
		}
		.nameFoot{
			float:left;
			width: auto;
			p{
				white-space: nowrap;
			}
		}
		.logoFoot{
			float:right;
			text-align:right;
			width: auto;
			img{
				min-width:230px;
				min-height:60px;
			}
		}
	}

	hr{
		background:#ffffff;
		margin:0;
		padding:0;
		top:0;
		bottom:0;
	}
}


@mixin smallScreenFooter{
	
}

@mixin medium_smallScreenFooter{
	.footer{
		text-align: center;
		.footerMenu, .footerAutor{
			margin-bottom:0;
			padding-bottom:0;
			bottom:0;
			vertical-align:middle;
			padding-left:10px;
		}

		.footerMenu{
			text-align:left;
			ul{
				margin:10px 0;
				padding-left:15px;
				li{
					display:inline-block;
					margin-right:28px;
					
				}
				li, li a{
					text-decoration:none;
				}
			}
			
		}

		.footerAutor{
			padding-bottom:10px;
			.nameFoot{
				width: auto;
				text-align:center;
			}
			.logoFoot{
				width: auto;
				text-align:center;
			}
		}
	}
}

@mixin mediumScreenFooter{
	.footer{
		text-align: center;
		.footerMenu, .footerAutor{
			margin-bottom:0;
			padding-bottom:0;
			bottom:0;
			vertical-align:middle;
			padding-left:10px;
		}

		.footerMenu{
			text-align:left;
			ul{
				margin:10px 0;
				padding-left:15px;
				li{
					display:inline-block;
					margin-right:28px;
					
				}
				li, li a{
					text-decoration:none;
				}
			}
			
		}
		.footerAutor{
			padding-bottom:10px;
			.nameFoot{
				
			}
			.logoFoot{
				
			}
		}
	}
}


@media screen and (max-width: 320px) {
	.footer{
		text-align: center;
		.footerMenu, .footerAutor{
			margin-bottom:0;
			padding-bottom:0;
			bottom:0;
			vertical-align:middle;
			padding-left:10px;
		}

		.footerMenu{
			ul{
				margin:10px 0;
				padding-left:15px;
				display:block;
				li{
					display:block;
					margin-right:28px;
					
				}
				li, li a{
					text-decoration:none;
				}
			}		
		}

		.footerAutor{
			padding-top:10px;
			padding-bottom:10px;

			.nameFoot{
				float:none;
				width: auto;
				text-align:center;
			}
			.logoFoot{
				float:none;
				margin-top:20px;
				margin-bottom:20px;
				text-align:center;
			}
		}
	}
}

@media screen  and (min-width: 321px) and (max-width: 380px){
	.footer{
		text-align: center;
		.footerMenu{
			ul{
				text-align:center;
				li{
					text-align:center;
					display:block;
					margin-right:20px;
				}

				li, li a{
					font: 16px $font_ptSans;
					color:#ffffff;
					text-decoration:none;
				}
			}
		}
		.footerAutor{
			.nameFoot, .logoFoot{
				float:none;
				// display:inline-block;
			}
			.nameFoot{
				text-align:center;
			}
			.logoFoot{
				text-align:center;
			}
		}
	}
}

@media screen  and (min-width: 380px) and (max-width: 600px){
	@include medium_smallScreenFooter;
	
	.footer{
		.footerMenu{
			ul{
				text-align:center;
				li{
					text-align:center;
					display:inline;
					margin-right:20px;
				}

				li, li a{
					font: 16px $font_ptSans;
					color:#ffffff;
					text-decoration:none;
				}
			}
		}
		.footerAutor{
			.nameFoot, .logoFoot{
				float:none;
				// display:inline-block;
			}
			.nameFoot{
				// float:left;
				text-align:center;
			}
			.logoFoot{
				// float:right;
				text-align:center;
			}
		}
	}
}

@media screen and (min-width: 601px) and (max-width: 701px){
	@include medium_smallScreenFooter;
	.footer{
		.footerMenu{
			ul{
				text-align:center;
				li{
					text-align:center;
					display:inline;
					margin-right:30px;
				}

				li, li a{
					font: 16px $font_ptSans;
					color:#ffffff;
					text-decoration:none;
				}
			}
		}
		.footerAutor{
			padding-top:10px;
			padding-bottom:10px;
			
			.nameFoot, .logoFoot{
				margin:0 30px 0 30px;
			}
			.nameFoot{
				
			}
			.logoFoot{
				
			}
		}
	}
}

@media screen and (min-width: 702px) and (max-width: 806px){
	.footer{
		.footerMenu{
			ul{
				text-align:center;
				li{
					text-align:center;
					display:inline;
					// margin-right:30px;
				}

				li, li a{
					text-decoration:none;
				}
			}
		}
		.footerAutor{
			padding-top:10px;
			padding-bottom:10px;
			
			.nameFoot, .logoFoot{
				margin:0 30px 0 30px;
			}
			.nameFoot{
				
			}
			.logoFoot{
				
			}
		}
	}
}

@media screen and (min-width: 807px) and (max-width: 1100px){
	.footer{
		.footerMenu{
			ul{
				text-align:center;
				li{
					text-align:center;
					display:inline;
					// margin-right:30px;
				}

				li, li a{
					text-decoration:none;
				}
			}
		}
		.footerAutor{
			padding-top:10px;
			padding-bottom:10px;
			
			.nameFoot, .logoFoot{
				margin:0 30px 0 30px;
			}
			.nameFoot{
				
			}
			.logoFoot{
				
			}
		}
	}
}